<div class="row">
  <div class="col-xs-12">
    <button type="button" class="new-recipe-button btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- List Items -->
    <a href="#" class="clearfix"
    *ngFor="let recipe of recipes">
      <div class="card recipe-list-item" style="width: 18rem;">
        <img class="card-img-top" src="{{recipe.imagePath}}" alt="{{recipe.name}}">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </a>
    <!-- List Items -->
  </div>
</div>

